.container{
    margin:30px;
}

.card mat-card {
    border: 1px solid transparent;
}

.mat-card.card-ing-des{
    box-shadow: none;
}

/* .mat-list-item.desc { 
    height: auto; 
    margin-bottom: 20px;
} */

p
{
    display:inline;
}

span{
    font-style: italic;
    color: brown;
    cursor: pointer;
}

span:hover{
    text-decoration: underline;
}