<div class="container" fxLayout="column" fxLayoutAlign="center center">
    <mat-card *ngIf="isLoaded">
        <mat-card-header fxLayout="column" fxLayoutAlign="start start">
            <mat-card-title>
                <h1>{{selectedRecipe.title}}</h1>
            </mat-card-title>
            <mat-card-subtitle class="subs">{{selectedRecipe.description}}</mat-card-subtitle>
            <mat-card-subtitle class="detailsVal"><span class="details">Preparation Time:</span>
                {{selectedRecipe.prepTime}} minutes</mat-card-subtitle>
            <mat-card-subtitle class="detailsVal"><span class="details">Cooking Time:</span> {{selectedRecipe.cookTime}}
                minutes</mat-card-subtitle>
            <mat-card-subtitle class="detailsVal"><span class="details">Servings:</span> {{selectedRecipe.servings}}
            </mat-card-subtitle>
            <mat-card-subtitle class="detailsVal"><span class="details">Date Posted:</span> {{selectedRecipe.postDate}}
            </mat-card-subtitle>
            <mat-card-subtitle class="detailsVal"><span class="details">Last Updated:</span> {{selectedRecipe.editDate}}
            </mat-card-subtitle>

        </mat-card-header>
        <img mat-card-image src="http://localhost:3001/{{selectedRecipe.images.full}}">
        <!-- <img mat-card-image src="{{selectedRecipe.images.full}}"> -->
        <mat-card-content>

            <mat-card class="card-ing-des">
                <mat-card-header>
                    <mat-card-title>
                        <h2>Ingredients</h2>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-list>
                        <div fxLayout="row wrap" fxLayoutAlign="start start">
                            <ng-container *ngFor="let ingredient of selectedRecipe.ingredients">
                                <mat-list-item>
                                    <h4 mat-line>{{ingredient.amount}} {{ingredient.measurement}} {{ingredient.name}}
                                    </h4>
                                    <span *ngIf="checkSpecial(ingredient.uuid)" mat-line [innerHTML]="msg"
                                        (click)="goToNewWindow(ingredient.uuid)"></span>

                                </mat-list-item>
                            </ng-container>
                        </div>
                    </mat-list>
                </mat-card-content>
            </mat-card>

            <mat-card class="card-ing-des">
                <mat-card-header>
                    <mat-card-title>
                        <h2>Directions</h2>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-list>
                        <ng-container *ngFor="let direction of selectedRecipe.directions; let i = index">
                            <mat-list-item class="desc">
                                {{i+1}}. {{direction.instructions}}
                            </mat-list-item>
                        </ng-container>
                    </mat-list>
                </mat-card-content>
            </mat-card>


        </mat-card-content>
    </mat-card>






</div>