.container{
    margin:30px;
}

span p
{
    display:inline;
}

span {
    font-style: italic;
    color: brown;
    font-size: 14px;
    outline: none;
}

.link-span{
    cursor: pointer;
}

.link-span:hover{
    text-decoration: underline;
}


.details{
    color: brown;
    font-style: normal;
    font-size: 16px;
}

.detailsVal{
    color: rgb(78, 78, 78); 
}

h1, h2, .subs {
    font-style: italic;
}

.subs{
    font-size: 18px;
}

